<h1>O Desafio</h1>
<p>O desafio era matricular um aluno em uma determinada matéria , gerando um processo de matrícula deste aluno.</p>

<h2>Lógica de negócio</h2>
<ul>
  <li>A uma entidade chamada <strong>Student</strong>, que possui apenas <strong>name</strong> e <strong>register_number</strong></li>
  <li>A uma entidade chamada <strong>House</strong>, com <strong>name</strong> e <strong>description</strong></li>
  <li>A uma entidade chamada <strong>ClassRoom</strong>, com <strong>student_id</strong>(relacionamento com Student) e <strong>course_id</strong>(relacionamento com Course)</li>
</ul>
<p>Após cadastro das duas primeiras entidades citadas haverá possibilidade de associar um aluno a um curso , dessa forma surgi a terceira entidade que é responsável por registrar essa associação.</p>
<h2>Testes</h2>
<p>Este app foi construído usando RSpec para testes. Tentei cobrir o máximo possível sobre o código.</p>
